// It's highly recommended to change the default colors
// to match your app's branding.
@import "~quasar/src/css/variables";

$primary   : #7d0f0f;
// analogous
//$secondary : #7D460F; //#7D0F46
// complementary
$secondary : $grey-7;
$accent    : #9C27B0;
//$accent : #7D460F; //#7D0F46
// complementary
$accent : #0F7D7D;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;