@import './quasar.variables.scss';
@import "~quasar/dist/quasar";
@import "mixins";
// @import '~quasar-addon-styl';

.main-title {
  margin: 0;
  line-height: 1;
  padding: map-get($space-sm, 'y') map-get($space-md, 'x') map-get($space-md, 'y') map-get($space-md, 'x');
}

.content-box,
.message-box {
  background: white;
  border-radius: 3px;
  border: 1px solid $grey-6;
  margin-bottom: map-get($space-lg, 'y');
}

.content-box--no-top-border {
  border-top: none;
}

.content-box--all-border,
.message-box {
  border-left: 1px solid $grey-6;
  border-right: 1px solid $grey-6;
}

.content-box__title {
  margin: 0;
  line-height: 1;
}

.message-box {
  @include default-content-padding;
  border-radius: $generic-border-radius;
}

.content-box--padding {
  @include default-content-padding;
}

.content-box_header {
  padding: map-get($space-sm, 'y') map-get($space-md, 'x');
  border-bottom: 1px solid $grey-6;
  color: white;
  background-color: $secondary;
}

ul.no-list-style-type {
  list-style-type: none;
}

.invisible {
  visibility: hidden;
}
